@CHARSET "UTF-8";
/* CSS Document */
html, body{background-color:#0ca4d4;}
html, body,  h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, img, textarea, a {border:0 none;margin:0;padding:0;outline: 0;font-size: 12px; text-align:left; vertical-align: baseline;background: transparent; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; font-family:"微软雅黑"; }

h1 {	font-size: 25px;}
h2 {	font-size: 23px;}
h3 {	font-size: 21px;}
h4 {	font-size: 19px;}
h5 {	font-size: 17px;}
h6 {	font-size: 15px;}
select{font-size:12px;font-family:simsun;}
ul,ol,li{list-style-type:none}
a {color:#4C4C4C;text-decoration:none; cursor:pointer; outline:none;/*FF标准去虚线框*/}
a {star:expression(this.onFocus=this.blur()); /* for Ie*去虚线框*/ }
a:hover{color:#FF6600;text-decoration:underline;}
:focus {outline: none;}
body {line-height: 1.5em;width: 100%;display: table; font-size:12px; font-family:Arial, 'Liberation Sans', FreeSans, sans-serif, "宋体";}
table {border: medium none;border-collapse: collapse;}
td { padding-left: 5px;}
caption, th, td {font-weight: normal;text-align: left;}
table, td, th {vertical-align: middle;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
a img {border: none;outline: none;}
ol {margin-left: 2em;}

/*======================浮动==================*/
.clear{clear:both;height:0px;overflow:hidden;}
.clearfix:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { zoom:1}
.clearfix { display:block; }
.bugfix{zoom:1}

/*==========限制Detail页内图片大小======避免页面撑暴========*/
/*.content img { max-width:100%;width:expression(width>669?"100%":width+"px");}
--说明 .content img { max-width:100%;width:expression(width>（外层宽度px）?"100%":width+"px");}--*/


/*=====================文字样式===========================*/
.size_10{font-size:10px}
.size_11{font-size:11px}
.size_12{font-size:12px}
.size_13{font-size:13px}
.size_14{font-size:14px}
.size_16{font-size:16px}
.size_18{font-size:18px}
.size_20{font-size:20px}

.fc_white { color: #fff; }
.fc_red { color: #D00000; }
.fc_red02 { color: #F73501; }
.fc_black { color: #000; }
.fc_blue { color: #336599; }
.fc_blue02 { color: #0A4E97; }
.fc_gray { color: #333; }
.fc_orange { color: #FF663A; }
.fc_green { color: #007B00; }
.line_h26 { line-height: 26px; }
.line_h20 { line-height: 20px; }



/*=====================文字阴影=============================*/
.context {position:relative;}
.context .normal{position:absolute;top:0px;left:0px;z-index:2;}
.context .shadow{position:relative;top:1px;left:2px;z-index:1;}
/*    文字阴影应用之HTML部分代码
<div class="context">
	<span class="normal">需要有阴影效果的文字</span>
	<span class="shadow">重复需要有阴影效果的文字即文字的阴影</span>
</div>*/



/*================= 基础布局样式，随需要修改 =================*/
/*首页主框架*/
/*body{margin:0 auto;  background:url(../images/top_bg.jpg) repeat-x; color:#444;} 新改*/
#wrapper {}
/*.top_nav{ position:absolute;top:15px; right:60px; }
.top_nav li{ float:left; padding:0 15px; border:1px solid #DCDCDC;}*/
.classification{
	position:absolute;
	top:15px;
	right:50px;
}
.classification li{
	display:inline-block;
	background:url(images/logo_classification.png) no-repeat;
	background-repeat: no-repeat;
	width:69px;
	height:30px;
	text-indent:20px;
	line-height:28px;
	text-decoration:none;
	float:none;
}
.classification li:hover{
	cursor:pointer;
	color:#0067b7;
}
/*网站公共顶部*/
#topUp{ height:40px; background:#373b3e;}
#top{width:1002px;margin:0 auto;height:87px; position:relative;}
#top1{width:1240px;margin:0 auto;height:87px; position:relative;}
#top1 .logo{float:left; /*margin:27px 0 0 4px;*/ display:inline;}
#top .logo{float:left; /*margin:27px 0 0 4px;*/ display:inline;}

/*网站公共导航*/
#nav{/*width:1002px;*/ height:45px;margin:0 auto;position:relative;z-index:150; background-color:#d00010; background:url(../images/navBg.jpg) repeat-x;}
#nav dl dd{position:relative;z-index:30;}
.nav{width:1002px;margin:0 auto;}
.nav dd {float:left}
.nav dd a.first{background-image:url(../images/nav.jpg);display:block;height:45px;text-indent:-10000em;}
.nav dd.nav0 a{background-position:-0px -0px;width:143px; text-align:center; line-height:45px; font-size:16px; font-weight:bold; color:#ffffff;}
.nav dd.nav0 a:hover{background-color:#94000c;}
.nav dd.nav0 a:hover,.nav dd.nav0 a.hover{background-position:0px -50px;}
.nav dd.nav1 a{background-position:-143px -0px;width:143px;}
.nav dd.nav1 a:hover,.nav dd.nav1 a.hover{background-position:-143px -50px;}
.nav dd.nav2 a{background-position:-283px -0px;width:143px;}
.nav dd.nav2 a:hover,.nav dd.nav2 a.hover{background-position:-283px -50px;}
.nav dd.nav3 a{background-position:-426px -0px;width:143px;}
.nav dd.nav3 a:hover,.nav dd.nav3 a.hover{background-position:-426px -50px;}
.nav dd.nav4 a{background-position:-572px -0px;width:143px;}
.nav dd.nav4 a:hover,.nav dd.nav4 a.hover{background-position:-572px -50px;}
.nav dd.nav5 a{background-position:-715px -0px;width:143px;}
.nav dd.nav5 a:hover,.nav dd.nav5 a.hover{background-position:-715px -50px;}
.nav dd.nav6 a{background-position:-858px -0px;width:143px;}
.nav dd.nav6 a:hover,.nav dd.nav6 a.hover{background-position:-858px -50px;}



/*网站公共底部*/
#foot{background-color:#000000; height:32px;text-align:center; color:#E5E5E5;}
.footer{ width:1002px; margin: 0 auto; line-height:32px;}
.footer ul{ float:left;}
.footer ul li{ float:left;}
.footer ul li a{ float:left; color:#ffffff;}
.footer ul li span{ margin:0px 8px 0px 7px;+margin:0px 7px 0px 6px;_margin:0px 6px 0px 6px;}
.footer p{ width:324px;+width:320px;_width:327px; padding-top:0px;+padding-top:0px;_padding-top:7px; text-align:center; margin:0 auto; color:#ffffff; line-height:32px; height:32px;}


